* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-image: url('../img/menu-background.png');
  background-position: center;
  background-size: cover;
}

#button-container {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.btn {
  height: 100px;
  background-color: red;
  margin: 0.5em 0;
  padding: .8em 2.2em;
  cursor: pointer;
  background: #FFFFFF;
  border: none;
  border-radius: .4em;
  text-transform: uppercase;
  font-size: 1.4em;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  width: 350px;
}

.pulse {
  display: inline-block;
}

.pulse:not(:hover) {
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.pulse:hover {
  animation-name: pulse;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-color: rgba(135, 247, 255, 0.486);
}

@keyframes pulse {
  25% {
    transform: scale(1.05);
  }

  75% {
    transform: scale(.95);
  }
}

#myModal {
  display: none;
  background-color: rgba(255, 255, 255, 0.95);
  width: 80%;
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  /* centre la modal horizontalement et verticalement */
  transform: translate(-50%, -50%);
}

#myModal p,
li {
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 1.4em;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.sectionScore p,
li {
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 1.4em;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.style p,
li {
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 1.4em;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.displayNone {
  display: none !important;
}

.displayYes {
  display: block !important;
}

.btnModal {
  height: 100px;
  margin: 0.5em 0;
  padding: .8em 2.2em;
  cursor: pointer;
  background: #b4b4b4;
  border: none;
  border-radius: .4em;
  text-transform: uppercase;
  font-size: 1.4em;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  width: auto;
}

#button-modal {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

/*section Score*/

.sectionScore {
  height: auto !important;
  background-color: rgba(0, 255, 221, 0.5);
  width: 50% !important;
}

#button-container2 {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* ig menu */

.col {
  width: 150px;
  background-color: rgba(160, 160, 160, 0.5);
  height: 100vh !important;
}

.ig {
  position: absolute;
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.igm {
  padding-left: 400px;
  margin: auto;
  justify-content: center;
  display: flex;
}

.style {
  display: flex;
  justify-content: flex-start !important;
}

.noteD {
  position: absolute;
  width: 150px;
  height: 50px;
  background: rgb(247, 150, 192);
  background: radial-gradient(circle, rgba(247, 150, 192, 1) 0%, rgba(118, 174, 241, 1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
  animation: scroll 2s linear;
}

.noteF {
  position: absolute;
  width: 150px;
  height: 50px;
  background: rgb(247, 241, 150);
  background: radial-gradient(circle, rgb(247, 241, 150) 0%, rgb(241, 118, 192) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
  animation: scroll 2s linear;
}

.noteJ {
  position: absolute;
  width: 150px;
  height: 50px;
  background: rgb(247, 150, 192);
  background: radial-gradient(circle, rgba(247, 150, 192, 1) 0%, rgba(118, 174, 241, 1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
  animation: scroll 2s linear;
}

.noteK {
  position: absolute;
  width: 150px;
  height: 50px;
  background: rgb(247, 241, 150);
  background: radial-gradient(circle, rgb(247, 241, 150) 0%, rgb(241, 118, 192) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
  animation: scroll 2s linear;
}

#scrollable-div {
  width: 150px;
}

.animation {
  animation: scroll 2s linear infinite;
}

#scrolling-content {
  overflow: hidden;
  height: 90vh;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

#scrolling-contentF {
  overflow: hidden;
  height: 90vh;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

#scrolling-contentJ {
  overflow: hidden;
  height: 90vh;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

#scrolling-contentK {
  overflow: hidden;
  height: 90vh;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

@keyframes scroll {
  from {
    top: 0;
  }

  to {
    top: 100%;
  }
}

.clavier {
  width: 600px;
  height: 100px;
  background-color: #000c;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.hitNote {
  width: 600px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  position: absolute;
  bottom: 100px;
}

#fadingRectangle {
  position: absolute;
  height: 200px;
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  bottom: 5px;
  left: 0;
  right: 0;
  margin: auto;
}

.toucheClavier {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 100px;
  width: 150px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  border: none;
  text-transform: uppercase;
  font-size: 3.4em;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.imgScore {
  display: flex;
  position: absolute;
  margin: auto;
  width: 200px;
  bottom: 400px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Ecran de score */

.sectionRecap {
  height: 100vh;
}

.sRStyle {
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  margin: 0.5em 0;
  padding: .8em 2.2em;
  background: #FFFFFF;
  border: none;
  border-radius: .4em;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.mRStyle {
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  margin: 0.5em 0;
  padding: .8em 2.2em;
  background: #FFFFFF;
  border: none;
  border-radius: .4em;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;

}